{% extends 'html_samples.html' %}

{% block link %}
<link rel="stylesheet" href="style_new_match.css">
{% endblock %}

{% block title %}
New Match
{% endblock %}

{% block body %}
    <h1 class="new_match"> This is the page to start a new match </h1>
    <h2 class="name_players"> Enter player names </h2>
     <form method="post" name="NewMatchForm" action="http://{{ your_ip }}:8080/new_match_data_insert">
        <div>
            <p>
                <label for="Player1"> Player 1 <br>
                    <input name="Player 1" id="Player1" class="text" type="text" value="" required>
                </label>
            </p>

            <p>
                <label for="Player2"> Player 2 <br>
                    <input name="Player 2" id="Player2" class="text" type="text" value="" required>
                </label>
            </p>
        </div>

        <div>
            <p><input class="button_submit" type="submit" value="Start Game"></p>
        </div>

        <div>
            <p><a class="button_redirect" href="http://{{ your_ip }}:8080"> Back to main page </a></p>
        </div>
    </form>
{% endblock %}
