.new_match {
    text-align: center;
    color: darkred;
    background-color: cornflowerblue;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: 100px;
}
.name_players {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    width: 60%;
    height: 10px;
    font-size: 30px;
    font-weight: bold;
}

div {
    min-width: 300px;
    min-height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.text {
    text-align: center;
    font-size: 30px;
    margin-right: 20px;
    margin-left: 20px;
}

label {
    font-size: 25px;
}

.button_submit {
    border-color: gray;
    border-width: 5px;
    min-width: 300px;
    min-height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    background-color: red;
    color: darkgreen;
    font-size: 30px;
    font-weight: bold;
}

.button_submit:hover {
    color: navy;
    background: yellow;
    -webkit-transition: all .3s linear;
    -moz-transition: all .1s linear;
}

.button_submit:active{
    color: #000;
    background-color: green;
}

.button_redirect {
    min-width: 170px;
    min-height: 50px;
    border: 5px solid gray;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    background-color: red;
    color: darkblue;
    font-size: 12px;
    font-weight: bold;
}

.button_redirect:hover {
    color: navy;
    background: yellow;
    -webkit-transition: all .3s linear;
    -moz-transition: all .1s linear;
}

.button_redirect:active {

}

body {
    background-color: powderblue;
}
