{% extends 'html_samples.html' %}

{% block link %}
    <link rel="stylesheet" href="matches_style.css">
{% endblock %}

{% block title %}
    Match page
{% endblock %}

{% block body %}
    <div class="main_description">
        <h1 class="description"> Match page </h1>
        <h2 class="description">
            This page displays the played matches of all players <br>
            Below you can search for players
        </h2>
    </div>

    <form class="search">
         <div>
            <p>
                <label>
                    <input class="text_search" type="search" name="filter_by_name" value="" placeholder="Search Player">
                    <input class="button_search" type="submit" value="Find">
                </label>
            </p>
         </div>
    </form>

    <form class="python_window">
        <div style="display: table" class="my_table">
            <div style="display: table-row" class="table_header_row">
                <div style="display: table-cell" class="my_table_cell"> Match ID </div>
                <div style="display: table-cell" class="my_table_cell"> Player 1 Name </div>
                <div style="display: table-cell" class="my_table_cell"> Player 2 Name </div>
                <div style="display: table-cell" class="my_table_cell"> Winner Match </div>
            </div>
            {% for match in all_match -%}
                <div style="display: table-row" class="my_table_row">
                    <div style="display: table-cell" class="my_table_cell"> {{match.0}} </div>
                    <div style="display: table-cell" class="my_table_cell"> {{match.1}} </div>
                    <div style="display: table-cell" class="my_table_cell"> {{match.2}} </div>
                    <div style="display: table-cell" class="my_table_cell"> {{match.3}} </div>
                </div>
            {% endfor -%}
        </div>


    </form>

    <div class="pages_list">
        <a href="http://localhost:8080/matches?page={{ pages - 1 }}{% if player_name %}&filter_by_name={{ player_name }}{% endif %}">&NestedLessLess;</a>
        {% for number in range(1, page_number + 1) -%}
            <a href="http://localhost:8080/matches?page={{number}}{% if player_name %}&filter_by_name={{ player_name }}{% endif %}"> {{ number }} </a>
        {% endfor -%}
        <a href="http://localhost:8080/matches?page={{ pages + 1 }}{% if player_name %}&filter_by_name={{ player_name }}{% endif %}">&NestedGreaterGreater;</a>
    </div>

    <form>
        <a class="button_backs" href="http://{{ your_ip }}:8080"> Back to main page </a>
    </form>

{% endblock %}
