{% extends 'html_samples.html' %}

{% block link %}
    <link rel="stylesheet" href="style_match_score_calculation.css">
{% endblock %}

{% block title %}
    Match score calculation
{% endblock %}

{% block body %}
    <div class="name_page">
        <h1 class="main_name_page"> Score Board </h1>
    </div>

    <form method="post" name="MatchScoreForm" action="http://localhost:8080/match_score_data_handler">
        <div style="display: table" class="table_scoreboard">

            <div style="display: table-row" class="row_a_cap">
                <div style="display: table-cell"></div>
                <div style="display: table-cell" class="cell_a_cap"> <h2> Score  </h2> </div>
                <div style="display: table-cell" class="cell_a_cap"> <h2> {{ handler_game }} </h2> </div>
                <div style="display: table-cell" class="cell_a_cap"> <h2> Set </h2> </div>
            </div>
             <div style="display: table-row">
                <div style="display: table-cell" class="cell_a_player_1"> <h2> {{p1_dis_name}} </h2> </div>
                <div style="display: table-cell" class="cell_a_player_1"> <h2> {{p1_dis_score}} </h2> </div>
                <div style="display: table-cell" class="cell_a_player_1"> <h2> {{p1_dis_game}} </h2> </div>
                <div style="display: table-cell" class="cell_a_player_1"> <h2> {{p1_dis_set}} </h2> </div>
            </div>
             <div style="display: table-row">
                <div style="display: table-cell" class="cell_a_player_2"> <h2> {{p2_dis_name}} </h2> </div>
                <div style="display: table-cell" class="cell_a_player_2"> <h2> {{p2_dis_score}} </h2> </div>
                <div style="display: table-cell" class="cell_a_player_2"> <h2> {{p2_dis_game}} </h2> </div>
                <div style="display: table-cell" class="cell_a_player_2"> <h2> {{p2_dis_set}} </h2> </div>
            </div>

            <input type="hidden" name="id" value="{{id}}">

        </div>

        <div class="row_a_button">
            <div class="cell_a_button">
                <button name="player1win" value="1" type="submit" class="button_player"> {{p1_dis_name}} Win </button>
            </div>
            <div class="cell_a_button">
                <button name="player2win" value="2" type="submit" class="button_player"> {{p2_dis_name}} Win</button>
            </div>
        </div>

    </form>
{% endblock %}
